[submodule "ext/OpenUSD"]
	path = ext/OpenUSD
	url = git@github.com:PixarAnimationStudios/OpenUSD.git
[submodule "ext/cppcodec"]
	path = ext/cppcodec
	url = git@github.com:tplgy/cppcodec.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "ext/glaze"]
	path = ext/glaze
	url = https://github.com/stephenberry/glaze.git
